body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

label.text {
display: block;
}

input, textarea {
  padding: .3rem .5rem;
}

input[name='submit'] {
  padding: .3rem 1rem;
}

.posts input:not(.posts input[name='save-post']), .posts textarea {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}

.section {
border: 1px solid #ddd;
margin-bottom: 1rem;
}
